@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

body {
	font-family: Arial;
}

.nav {
	display: flex;
	flex-flow: row nowrap;
	flex-direction: column;
}

.faixa {
	width: 100%;
	max-height: 50px;
	height: 40px;
	background-color: #000;
}

.main-nav {
	display: flex;
	width: 100%;
	max-height: 100px;
	height: 90px;
	background-color: #2c2e2f;
	justify-content: space-around;
	color: #fff;
	align-items: center;
}

.nav-logo {
	flex: 1;
}

.menu-um {
	display: flex;
	flex: 3;
	font-size: 14px;
}

.menu-um a {
	text-decoration: none;
	color: #fff;
}

.menu-dois {
	display: flex;
	flex: 2;
	margin-left: 20px;
}

.menu-dois a {
	text-decoration: none;
	color: #fff;
}

.nav-logo img {
	width: 80px;
	height: 80px;
	padding-left: 40px;
}

.menu-um li {
	list-style: none;
	display: inline-block;
	padding-right: 15px;
	color: #fff;
}

.menu-dois ul {
	margin-left: -20px;
}

.menu-dois li {
	list-style: none;
	display: inline-block;
	font-size: 12px;
	padding-right: 20px;
	color: #948b8b;
}

.presentation {
	display: flex;
	flex-direction: row;
	max-height: 300px;
	flex-flow: row wrap;
}

.first-image {
	width: 100%;
}

.first-image img {
	width: 100%;
	max-height: 300px;
}

.title {
	position: absolute;
	background-color: rgba(52, 54, 56, 0.2);
	margin-top: 240px;
	height: 60px;
	font-size: 40px;
	line-height: 60px;
	width: 100%;
	text-align: center;
	font-family: 'Fredoka One', cursive;
	color: #c2c2c2;
}

.container {
	max-width: 1000px;
	height: auto;
	width: 100%;
	display: flex;
	margin-left: auto;
	margin-right: auto; 
}

.content {
	display: flex;
	flex-wrap: wrap;
}

.events {
	display: flex;
	margin-top: 10px;
	max-height: 30px;
	height: 30px;
	margin-bottom: 10px;
}

.title-alert {
	background-color: #ff0000;
	padding: 5px;
	line-height: 20px;
	color: #fff;
	font-weight: bolder;
}

.description-alert {
	line-height: 30px;
	padding-left: 10px;
	font-size: 14px;
}

.main-content {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	height: auto;
	align-items: flex-start;
	flex-wrap: wrap;
}

.slider {
	flex: 2;
	max-height: 340px;
	height: 340px;
	max-width: 666px;
	width: 666px;
	overflow: hidden;
}

.social {
	display: flex;
	flex: 1;
	margin-left: 20px;
	flex-direction: column;
	align-items: flex-start;
}

/*
.slide-arrows {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	max-width: 666px;
	width: 100%;
	position: absolute;
	z-index: 2;
	margin-top: 120px;
}

.arrow-left {
	height: 100%;
	background-color: rgba(52, 54, 56, 0.8);
	line-height: 100px;
}

.arrow-right {
	height: 100%;
	background-color: rgba(52, 54, 56, 0.8);
	line-height: 100px;	
}*/

.slidearea {
	height: 340px;
	width: 100000px;
	transition: all 1s;
}

.slideinfo {
	display: flex;
	flex-direction: column;
	height: 70px;
	margin-top: 270px;
	margin-left: 40px;
}

.slideinfo-title {
	font-size: 20px;
	font-weight: bolder;
	color: #fff;
}

.slideinfo-description {
	font-size: 18px;
	font-weight: bolder;
	color: #fff;
}

.slide {
	display: flex;
	max-height: 340px;
	background-image: url('../images/edra1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}

.drop-padrao {
	display: none;
	max-width: 150px;
	width: 100%;
	flex-direction: column;
	position: absolute;
	z-index: 3;
	margin-left: -15px;
}

.menu-um ul li:hover .drop-padrao {
	display: flex;
}

.drop-padrao ul li {
	padding-top: 10px;
	text-decoration: none;
	color: #fff;
}

.submenu-noticias {
	margin-left: -40px;
}

.social-title {
	display: flex;
	font-weight: bolder;
	text-align: center;
	justify-content: center;
}

.social-content-video {
	margin-top: 10px;
	display: flex;
	justify-content: center;
}

.social-content-image {
	margin-top: 10px;
	display: flex;
	justify-content: center;
}

.social-content-image img {
	max-width: 300px;
	max-height: 200px;
}

.social-content-description {
	display: flex;
	font-size: 14px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	justify-content: center;
}

.apresentacao, .novidades, .social-medias {
	box-shadow: 2px 2px 2px rgb(79, 71, 71);
	width: 100%;
}

.novidades, .social-medias {
	margin-top: 20px;
}

.social-content-widgets {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}

.social-content-widgets img {
	width: 40px;
	height: 40px;
	padding-right: 10px;
}

.social-content-media {
	margin-top: 10px;
	display: flex;
	justify-content: center;
}

.news {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-top: -500px;
}

.news-content {
	display: flex;
	margin-top: 20px;
}

.news-content-left {
	display: flex;
	flex: 1;
}

.news-content-right {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex-wrap: wrap;
	font-size: 14px;
	max-width: 340px;
	margin-left: 10px;
}

.news-content-left img {
	max-width: 350px;
	max-height: 200px;
}

.news-content-description {
	font-weight: bolder;
	font-size: 18px;
	margin-top: 20px;
}

.news-content-category {
	color: #c1161c;
	font-weight: bolder;
}

.news-content-description a {
	text-decoration: none;
	color: #000;
}

.rodape {
	display: flex;
	width: 100%;
	justify-content: space-between;
	bottom: 0;
	position: relative;
	margin-top: 20px;
	background-color: #000;
	min-height: 100px;
	padding-top: 20px;
	flex-direction: column;
	color: #fff;
}

.rodape-content {
	display: flex;
	width: 100%;
}

.address-rodape {
	display: flex;
	flex-direction: column;
	flex: 1;
	margin-left: 50px;
	align-items: center;
	color: #fff;
}

.contact-rodape {
	display: flex;
	flex: 1;
	justify-content: flex-end;
	margin-right: 50px;
	color: #fff;
}

.address-rodape-title {
	font-weight: bolder;
	margin-bottom: 10px;
	color: #fff;
}

.address-rodape span {
	margin-bottom: 10px;
	color: #fff;
}

.address-rodape a {
	color: #fff;
}

.developer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 20px;
}

.developer a {
	margin-left: 5px;
	color: #fff;
}